<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Weather APP...</h1>
<form method="POST" action="/">
  <input type="text" name="myInput" list="europe-countries" placeholder="Enter country...">
  <datalist id="europe-countries">
    <option>New York,us</option>
    <option>India,IN</option>
    <option>Germany,DE</option>
    <option>United States,US</option>
    <option>Canada ,CA</option>
    <option>Australia,AU</option>
    <option>France,FR</option>
    <option>Germany,DE</option>
    <option>Japan,JP</option>
    <option>Brazil,BR</option>
    <option>Mexico,MX</option>
    <option>Russia,RU</option>
    <option>Italy,IT</option>
    <option>Spain,ES</option>
    <option>China,CN</option>
    <option>Indonesia,ID</option>
    <option>Turkey,TR</option>
    <option>Saudi Arabia,SA</option>
    <option>Argentina,AR</option>
  </datalist>
  <button type="submit">Submit</button>
</form>
<p><%= locals.error%></p>
</body>
</html>

